/* General styles*/

.main {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 10%;
  background-color: bisque;
  overflow: scroll;
}

.container .img_wrapper {
  width: 100%;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
}

.img_wrapper img{
  margin: 0 auto;
  max-width: 50%;
}

.checkbox {
  display: none;
}

.divider {
  color: black;
}

.checkbox__label {
  display: block;
  width: 100%;
  padding: 2% 0;
  cursor: pointer;
  font-size:medium;
  font-weight: 600;
}

.checkbox:hover ~ .checkbox__label ~ .img_wrapper {
  height: auto;
}

.checkbox:checked ~ .checkbox__label ~ .img_wrapper {
  height: auto;
}